body{
    font-family: var(--font-luxury), sans-serif;
    
}
/* Base Transition Logic */
.reveal {
  will-change: transform, opacity;
  transition: all 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

/* Animations */
.anim-fade-in.is-visible {
  opacity: 100 !important;
}

.is-visible p.tracking-\[0\.2em\] {
  letter-spacing: 0.5em !important;
  opacity: 0.5 !important;
}

.anim-slide-up.is-visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.anim-slide-right.is-visible {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.anim-scale-in.is-visible {
  opacity: 1 !important;
  transform: scale(1) !important;
  transition-duration: 1.8s;
}

/* Shimmer Effect Keyframes */
@keyframes shimmer {
  100% { transform: translateX(100%); }
}

.group-hover\:animate-shimmer {
  animation: shimmer 2s infinite;
}
